{% extends 'base.html' %}

{% block content %}
<!-- <h1>{% block title %} Hello, World! {% endblock %}</h1> -->

<div>
    <h2>
        Sách dành cho bạn
    </h2>
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-5 g-4">
        {% for book in books %}
        <div class="col">
            <div class="card">
                <a href="{{ url_for('detail', book_id=book['item_id']) }}">
                    <img src="{{book['img']}}" class="card-img-top" alt="{{book['title']}}" height="300px" width="200px">
                </a>
                <div class="card-body">
                    <h5 class="card-title">{{book['title']}}</h5>
                    <p class="card-text"> Tác giả: {{book['authors']}}</p>
                    <!-- <p class="card-text" id="rating_{{book['item_id']}}" data-score="{{book['ratingavg']}}"></p> -->
                    <div class="card-text ratingavg" id="ratingavg" data-score="{{book['ratingavg']}}"></div>
                </div>
            </div>

        </div>
        {% endfor %}
    </div>

</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="{{ url_for('static', filename='js/jquery.raty.js') }}"></script>

<script>
    $(document).ready(function () {

        $(function () {
            $('.ratingavg').each(function (index, element) {
                console.log(index + ": " + $(element).text());
                $(element).raty({
                    path: "{{ url_for('static', filename='images') }}",
                    readOnly: true,
                    number: 5,
                    score: function () {
                        return $(this).attr('data-score');
                    }
                })
            })
        });
    });
</script>
{% endblock %}